.full-size-img h2{
    position: absolute;
    width: 694px;
    height: 134px;
    left: -20px;
    top: 100px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 87px;
    text-align: center;

    color: #000000;
}



/*Navigation bar*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


html { 
    background: url("../img/JobFairBackgroundImage.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

  
  .topnav {
    overflow: hidden;
    background-color: #BDBCBC;
    height: 113px;
    width: 100%;
    top: 0;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav-right {
    float: right;
    padding-right: 50px;
  }

  .topnav a:hover {
    background-color: #ddd;
    height: 113px;
  }

/*Search button*/
*
{
    outline: none;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover
{
    position: absolute;
    top: 50%;
    left: -30%;
    right: 20%;
    width: 550px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #6788C8;
    border-radius: 20px;
    box-shadow: 0 10px 40px #6788C8, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

form
{
    height: 36px;
}

input[type="text"]
{
    width: 100%;
    height: 36px;
    font-size: 35px;
    line-height: 1;
}

input[type="text"]::placeholder
{
    color: #ffffffeb;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 36px;
    cursor: pointer;
    top: -10%;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 58px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd-url {
  display: block;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}



.wrap1 {
	position: absolute;
	top: 47.5%;
	left: 90%;
	margin-right: -50%;
	transform: translate(-50%, -50%) scale(2,2);
}

.wrap2 {
	position: absolute;
	top: 47.5%;
	left: 70%;
	margin-right: -50%;
	transform: translate(-50%, -50%) scale(2,2);
}



.inputs {
	display: none;
}

label {
    margin-top: 7%;
	font-size: 14px;
	color: #bfbfbf;
	display: inline-block;
	padding: 0 0 0 2em;
	cursor: pointer;
}
label:before {
	content: '';
	display: inline-block;
	background: #55D8C6;
	position: absolute;
	left: 0;
	top: 5px;
	height: 20px;
	width: 20px;
	margin-right: 10px;
	border-radius: 80%;
	box-shadow: 0px 1px 0 0 rgba(0, 0, 0, .2);
	box-sizing: border-box;
	border: 10px solid #fff;
	transition: border .3s ease;
}

.inputs:checked + label:before {
	border-color: #fff;
	border-width: 3px;
}
.inputs + label {
	transition: color .7s ease;
}
.inputs:checked + label {
	color: black;
}


/*Cards*/
.full-size-img .JobFairsSelections1{
    width: 1150px;
    height: 270px;
    margin-top: 350px;
    margin-left: 150px;
    
    background: #C5D9E8;
}


.full-size-img .JobFairsSelections2{
    width: 1150px;
    height: 270px;
    margin-top: 45px;
    margin-left: 150px;
    margin-bottom: 20px;
    
    background: #C5D9E8;
}


.full-size-img .JobFairsSelections1 img{
margin-left: 59.8%;
margin-top: -12.3%;
}

.full-size-img .JobFairsSelections2 img{
    margin-left: 59.8%;
    margin-top: -12.5%;
}

.full-size-img .JobFairsSelections1 h3,
.full-size-img .JobFairsSelections1 p{
    margin-left: 5%;
}

.full-size-img .JobFairsSelections2 h3{
    margin-left: 5%;
}
.full-size-img .JobFairsSelections2 p{
    margin-left: 5%;
    top: 30%;
}

.full-size-img .JobFairsSelections1 .Buttons .ButtonOne p{
    margin-top: -3cm;
}

.full-size-img .JobFairsSelections2 .Buttons .ButtonOne p{
    margin-top: -3cm;
}